$mainColor: #eee5d3;
$contrastColorMedium: #5a8c8c;
$contrastColorLight: #81a69b;
$contrastColorDark: #3a7d8c;
$fontHeading: "Poppins", sans-serif;
$fontBody: "Poppins", sans-serif;
$standardPadding: 20px;

body {
  margin: 0;
  background-color: $mainColor;
}

h1 {
  font-family: $fontHeading;
}
h2 {
  font-family: $fontHeading;
}

h3 {
  font-family: $fontHeading;
}
p {
  font-family: $fontHeading;
}
.header-container {
  background-color: $mainColor;
  display: flex;
  gap: 30px;
  width: 100vw;
  height: 80px;
  .menu-icon {
    background-color: $contrastColorMedium;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .logotype {
    display: flex;
    align-items: end;
    width: 92%;
    h1 {
      margin: 0;
      font-family: $fontHeading;
    }
  }
}
.menu-slideout_hidden {
  background-color: $contrastColorDark;
  width: 350px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -350px;
  transition: all 1s ease-in-out;
  .menu_list {
    color: $mainColor;
    list-style-type: none;
    position: relative;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    li {
      padding:$standardPadding;
    }
  }
}
.menu-slideout_visible {
  left: 0px;
}


.landing-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-self: center;
  object-fit: cover;
}
.card-button {
  border: none;
  height: 30px;
  width: 120px;
  align-self: center;
  font-size: 16px;
  border-radius: 7px;
  background-color: $contrastColorLight;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: #487070;
  }
}

.landing-card {
  background-color: $contrastColorMedium;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  min-width: 200px;
  height: auto;
  padding: $standardPadding;
  gap: 30px;
  box-shadow: 7px 7px 15px 2px rgb(148, 147, 147);
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  gap: 50px;
  .card1 {
    @extend .landing-card;
    img {
      @extend .landing-img;
    }
    button {
      @extend .card-button;
    }
  }
  .card2 {
    @extend .landing-card;
    img {
      @extend .landing-img;
    }
    button {
      @extend .card-button;
    }
  }
  .card3 {
    @extend .landing-card;
    img {
      @extend .landing-img;
    }
    button {
      @extend .card-button;
    }
  }
  h3 {
    margin: 0;
  }
}
.main-container {
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 70px;
  margin-right: 200px;
  margin-left: 200px;
  min-width: 600px;
  .headline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    .headline-text {
      font-size: 50px;
      font-weight: 600;
      flex-basis: 400px;
    }
    .headline-animation {
      width: 300px;
      height: 300px;
    }
  }
  .demo-content {
    background-color: $mainColor;
    height: 500px;
  }
  .team-presentation {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .contact-container {
  }
}

footer {
  margin: 0;
  position: sticky;
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: $mainColor;
    font-family: $fontBody;
    background-color: #5a8c8c;
    .adress {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 100px;
    }
    .icons {
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 10px;
    }
    .head {
      display: flex;
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
