body {
  margin: 0;
  background-color: #eee5d3;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.header-container {
  background-color: #eee5d3;
  display: flex;
  gap: 30px;
  width: 100vw;
  height: 80px;
}
.header-container .menu-icon {
  background-color: #5a8c8c;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .menu-icon img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
.header-container .menu-icon img:hover {
  cursor: pointer;
}
.header-container .logotype {
  display: flex;
  align-items: end;
  width: 92%;
}
.header-container .logotype h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.landing-img, .card-container .card3 img, .card-container .card2 img, .card-container .card1 img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-self: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-button, .card-container .card3 button, .card-container .card2 button, .card-container .card1 button {
  border: none;
  height: 30px;
  width: 120px;
  align-self: center;
  font-size: 16px;
  border-radius: 7px;
  background-color: #5a8c8c;
  color: white;
}
.card-button:hover, .card-container .card3 button:hover, .card-container .card2 button:hover, .card-container .card1 button:hover {
  cursor: pointer;
  background-color: #487070;
}

.landing-card, .card-container .card3, .card-container .card2, .card-container .card1 {
  background-color: #81a69b;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  width: 150px;
  padding: 20px;
  gap: 30px;
  box-shadow: 7px 7px 15px 2px rgb(148, 147, 147);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  gap: 50px;
}
.card-container h3 {
  margin: 0;
}

.main-container {
  background-color: #eee5d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 70px;
  margin-right: 200px;
  margin-left: 200px;
  min-width: 600px;
}
.main-container .headline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}
.main-container .headline .headline-text {
  font-size: 50px;
  font-weight: 600;
  flex-basis: 400px;
}
.main-container .headline .headline-animation {
  width: 300px;
  height: 300px;
}
.main-container .demo-content {
  background-color: white;
}
.main-container .team-presentation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background-color: #eee5d3;
<<<<<<< HEAD
  font-family: Arial;
  background-color: #5a8c8c;
}
.footer-container .adress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}
.footer-container .icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}
.footer-container .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.demo-content {
  background-color: white;
  width: 500px;
  height: 300px;
=======
  font-family: "Poppins", sans-serif;
>>>>>>> 7b25eb6f4e6dc2bfa6ca5596ca5dea6a14fce673
}/*# sourceMappingURL=landing.css.map */